body {
    display:flex;
    min-height: 100vh;
    flex-direction: row;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

.content {
    min-width: 600px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

header > img {
    width: 170px ;
}

.top_nav {
    display:flex;
    flex-direction: start;
    align-items: center;
}

.top-nav > nav {
    flex-grow: 1;
}

.top_nav > nav > ul {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
}

.top_nav > nav > li {
    flex: auto;
}

.top_nav > nav > ul > li {
    position: relative;
}

.top_nav > nav > ul > li:hover > .sub_nav {
    display: block;
}

.top_nav > nav > ul > li {
    position: relative;
}

.top_nav > nav {
    flex-grow: 1;
}

.sub_nav {
    position: absolute;
    left: -4px;
    display: none;
    min-width: 150px;
    background-color: azure;
    list-style: none;
}

.sub_nav > li {
    padding: 4px;
}

a {
    text-decoration: none;
    list-style-type: none;
    color:rgb(51, 51, 255);
    font-weight: bold;
}

a:hover {
    color:black;
}

.left-nav > ul {
    padding: 4px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.left-nav > ul > li {
    padding: 4px;
}

.left-nav > ul > li > a {
    text-decoration: none;
    font-size: 15px;
    font-weight: normal;
}

.left-nav > ul > li > a.left-nav-selected {
    font-weight: bold;
}

.lefts-nav {
    margin-top: 16px;
    width: 250px;
}

main {
    flex-grow: 1;
    flex-direction: row;
    display:flex;
}

section.main-content {
    flex-grow: 1;
    color:rgb(70, 70, 255);
    flex-direction: column;
    display:flex;
    font-size: 15px;
    padding-left: 60px;
}