body {
    display:flex;
    min-height: 100vh;
    flex-direction: row;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

.content {
    min-width: 600px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    list-style-type: none;
    color:rgb(59, 109, 201);
    font-weight: bold;
}

a:hover {
    color:black;
}

header > img {
    width: 150px ;
}

.top-nav {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.top-nav > nav {
    flex-grow: 1;
}

.top-nav > nav > ul {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
}

.top-nav > nav > li {
    flex: auto;
}

.top-nav > nav > ul > li {
    position: relative;
}

.top-nav > nav > ul > li:hover > .sub-nav {
    display: block;
}

.top-nav > nav {
    flex-grow: 1;
}

.sub-nav {
    position: absolute;
    left: -4px;
    display: none;
    min-width: 150px;
    background-color: rgb(237, 241, 241);
    list-style: none;
}

.sub-nav > li {
    padding: 4px;
}

.sub-nav:hover {
    display: block;
}

.left-nav > ul {
    padding: 4px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.left-nav > ul > li {
    padding: 4px;
}

.left-nav > ul > li > a {
    text-decoration: none;
    font-size: 15px;
    font-weight: normal;
}

.left-nav > ul > li > a.left-nav-selected {
    font-weight: bold;
}

.left-nav {
    margin-top: 16px;
    width: 250px;
}

main {
    flex-grow: 1;
    flex-direction: row;
    display:flex;
}

.main-content {
    flex-grow: 1;
    color:rgb(59, 109, 201);
    flex-direction: column;
    display:flex;
    font-size: 15px;
    padding-top: 22px;
}

.main-content > header > h1 {
    padding-top: 25px;
}

.top-text > ul {
    margin-top: 5px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.top-text > ul > li > a {
    font-size: 15px;
    font-weight: normal;
    text-decoration: none;
    padding-right: 4px;
}

.top-text > ul > li:not(:first-child)::before {
    font-size: 15px;
    padding-right: 4px;
    content: ">"
}

.top-text > ul > li > a.left-nav-selected{
    font-weight: bold;
}

.product-list {
    display: flex;
    padding-top: 20px;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    padding-right: 15px;
    padding-bottom: 30px;
    color:black
}

.product > .price {
    font-weight: bold;
    color:rgb(59, 109, 201);
}

.product > .dimension {
    font-size: 12px;
}

.product figcaption {
    color:rgb(59, 109, 201);
}

footer > p {
    font-size: 12px;
    margin-bottom: 10px;
}
